#wrapper
  
  .content
    h1 Control de imagenes

    .image_list
      -var cnt=0
      ul
      each img in imagenes
        li
          img(src="#{img.path}",alt="#{img.id}")
          input(type="hidden",id="#{img.id}",value="#{cnt}")
          - cnt++


