#wrapper
  
  .content
    h1 Control de imagenes

    .image_list
      -var cnt=0
      ul
      each img in imagenes
        li
          input(type="checkbox",id="#{img.id}",value="#{cnt}")
          img(src="#{img.path}",alt="#{img.id}")
          - cnt++


  button(onClick="aprueba(); return false;", style="display: block; padding: 4px; ") Aprueba