#wrapper
  
  .content
    h1 Control de Textos

    .image_list
      -var cnt=0
      ul
      each txt in textos
        li
          input(type="checkbox",id="#{txt.id}",value="#{cnt}")
          p "#{txt.texto}"
          - cnt++


  button(style="display: block; padding: 4px; ") Aprueba