body {
    margin: 5px 5px 5px 5px ;
    padding: 0px 0px 0px 0px ;
}

textarea {
    font-size: 50px;
    width: 99%;
}

canvas {
    position: relative;
    border: 1px solid #999999 ;
    -webkit-touch-callout: none ;
    -webkit-user-select: none ;
}	


div#botinternos {
    display: table;
    margin: auto;
}

div#botones {
    display: table;
    margin: 250px auto;
}

button{
    background-color: #CCCCCC ;
    border: 1px solid #999999 ;
    color: #333333 ;
    line-height: 40px ;
    text-align: center ;
    text-decoration: none ;
    display:inline-block; 
    width:300px;
    height:50px;
}



a {
    background-color: #CCCCCC ;
    border: 1px solid #999999 ;
    color: #333333 ;
    display : table-cell;
    line-height: 40px ;
    text-align: center ;
    text-decoration: none ;
    width:300px;
    height:50px;
}

