!!! 5
html
  head
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
    link(rel= 'stylesheet', href= '/styles.css', type= 'text/css')
    link(rel= 'stylesheet', href= '/stylesheets/jquery.jgrowl.css', type= 'text/css')
    
    title Memorias Digitales - Museo De Antioquia
  body
    .root-wrapper     
      article#main
        section.content
          p#ver_data
          img#ver_data
          
    script(type="text/javascript", src="/javascripts/thirdparty/jquery/jquery-1.7.min.js")
    script(type="text/javascript", src="/javascripts/thirdparty/jquery.jgrowl_minimized.js")
    script(type="text/javascript", src="/javascripts/visualiza.js")

